{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered </h2>

    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Task Name</td>
                <td>Assignee</td>
                <td>Date Line</td>
                <td>View</td>
                <td>Edit</td>
                <td>Delete</td>
              </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
              <td>{{ .Id }}</td>
              <td> {{ .TaskName }} </td>
              <td>{{ .Receiver }} </td> 
              <td>{{ .DateLine }} </td>
              <td><a href="/view?id={{ .Id }}">View</a></td>
              <td><a href="/edit?id={{ .Id }}">Edit</a></td>
              <td><a href="/delete?id={{ .Id }}">Delete</a><td>
            </tr>
          {{ end }}
        </tbody>
      </table>
      
  {{ template "Footer" }}
{{ end }}